@import './vendor'

body
  font-family: Helvetica, sans-serif
  font-size: 13px
  text-rendering: optimizeLegibility
  color: #444

a
  text-decoration: none
  color: #1d89d5

.clear
  clear: both

#stories
  max-width: 600px
  margin: 0 auto

.story
  list-style: none
  position: relative
  background: #fff
  border-width: 0
  border-bottom: 5px solid #fafafa
  padding: 2em 0

  &.image-fill
    .story-text
      display: none

.focus
  .story
    opacity: 0.1
    filter: grayscale(1)
    &.selected
      opacity: 1
      filter: none

.story-info
  color: #aaa
  max-height: 2em
  overflow: hidden

  a, span
    line-height: 2em
    margin-right: 1.5em

  a
    color: #777
    &:hover
      text-decoration: underline

  .story-topic
    color: #5fa962

.story-content
  position: relative
  padding: 0.5em 0 0

.story-title
  display: block
  color: #000
  font-size: 1.6em
  text-decoration: none
  margin-bottom: 0.3em

.story-image
  display: block
  width: 100%
  max-height: 500px
  padding: 1px
  margin-bottom: 1em
  overflow: hidden
  border: 1px solid #eee
  img
    width: 100%
    display: block

.story-text
  line-height: 1.8em
